$font-stack: Staatliches;
$black: #0F0F0F;
$white: #F0F0F0;
$dark-blue: #0138b7;
$medium-blue: #6790ec;
$light-blue: #c7d9f1;
$grey: #e1e1e1;
$dark-grey: #2e2e2e;
$lg-font: 54px;
$med-font: 36px;
$sm-font: 18px;
$header-height: 100px;
$logo-height: 100px;
$logo-width: 150px;


.lg-font {
  font-size: $lg-font;
}

.med-font {
  font-size: $med-font;
}

.sm-font {
  font-size: $sm-font;
}

.light {
  color: $light-blue;
}

.medium {
  color: $medium-blue;
}

.dark {
  color: $dark-blue;
}

.title {
  font-family: $font-stack;
  font-size: $lg-font;
}

.header-bar{
  margin-left: 8px;
}

.header-link {
  font-family: $font-stack;
  color: $grey;
  font-size: 30px;
  margin-right: 10px;
}

.active-header-link {
  font-family: $font-stack;
  color: $medium-blue;
}

.header-section {
  height: $header-height;
  width: 100%;
  display: flex;
  background-color: $dark-grey;
}

.kane-con-text {
  margin-left: 10px;
  font-family: $font-stack;
  margin-top: 15px;
  font-weight: lighter;
  font-size: $lg-font;
  color: $grey;
}

.kane-con-text-div{
  width: 60%;
  height: $header-height;
}

.kane-construction-logo {
  background-image: url("kane-construction-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: $logo-width;
  height: $logo-height;
}

.kane-construction-logo-div {
  width: $logo-width;
  height: $logo-height;
}

.display-image {

}

.contact-title-div {
  margin-top: 10px;
  height: $header-height;
}

.contact-title {
  text-align: center;
  height: 75px;
  font-family: $font-stack;
  font-size: $lg-font;
  color: $dark-grey;
}

.list-group{
  padding: 0;
  text-align: center;
}

.list-group-item{
  font-family: $font-stack;
  font-size: $med-font;
}
